<div class="text-center">
    @foreach (var project in Model)
    {
       @* <section class="project">
                <tbody>
                    @{
                        int rowNo = 1;
                    }
                    @foreach (var projectTask in project.Tasks)
                    {
                        <tr>
                            <td>
                                @rowNo
                            </td>
                            <td>
                                @{
                                    TimeSpan diff = projectTask.CancelDate - projectTask.StartDate ?? TimeSpan.Zero;
                                }
                                @string.Format("{0:hh\\:mm}", diff)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => projectTask.TaskName)
                            </td>
                            <td>
                                @{
                                    var taskComment = projectTask.TaskComments.FirstOrDefault(taskComment => taskComment.TaskId == projectTask.Id);
                                }
                                <p>
                                    @if (taskComment != null)
                                    {
                                        @if (taskComment.CommentType == 1)
                                        {
                                            @System.Text.Encoding.UTF8.GetString(taskComment.Content)
                                        }
                                        else if (taskComment.CommentType == 2)
                                        {
                                            @Html.ActionLink("Attachment", "DownLoadFile", new { id = taskComment.Id })
                                        }
                                    }
                                <p />
                            </td>
                            <td>
                                @string.Format("{0:hh\\:mm}", projectTask.StartDate)
                            </td>
                            <td>
                                @{
                                    var cancelDate = projectTask.CancelDate;
                                    string withoutCancelDateValue = "00:00";
                                }
                                @if (cancelDate != null)
                                {
                                    @string.Format("{0:hh\\:mm}", cancelDate)
                                }
                                else
                                {
                                    @withoutCancelDateValue
                                }

                            </td>
                        </tr>
                        rowNo++;
                    }
                </tbody>
            </table>
            <a asp-action="Create">Create new Task</a>
        </section>*@
    }
</div>

<div id="app" class="project pt-4 text-center">
    <h1 class="display-4 main__title">@ViewData["Title"]</h1>
    @{
        var projectModel = Model;
    }
     @foreach (var project in Model)
    {
        var name = project.ProjectName; 

        <vue-project class="mb-4" id="@project.Id">
                
        </vue-project>
    }
</div>

@section Scripts {
    <partial name="_Project" />

    <script type="text/javascript">
        var app = new Vue({
            el: '#app'
        })
    </script>
}
