@model Tuple<IEnumerable<Project>, IEnumerable<ItpdevelopmentTestProject.Models.Task>>

@{
    ViewData["Title"] = "Projects";
    ViewData["Create"] = "Create task";
    ViewData["CreateButton"] = "Create";

    var projectModel = Model.Item1;
    var taskModel = Model.Item2;
}

<div id="app" class="project pt-4">
    <h1 class="display-4 main__title">@ViewData["Title"]</h1>

    <button type="button" class="btn btn-primary main__create" data-bs-toggle="modal" data-bs-target="#createTaskModal">
        @ViewData["Create"]
    </button>

    @foreach (var project in projectModel)
    {
        var name = project.ProjectName; 

        <vue-project class="mb-4" id="@project.Id">
                
        </vue-project>
    }
</div>



<!-- Модальное окно -->
<div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ViewData["Create"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly"></div>
                @using (Html.BeginForm("TaskForm", "Home", FormMethod.Post))
                {
                    <div class="mb-3">
                        @Html.Label("Name", "TaskName", new { @class= "form-label" })
                        @Html.TextBox("Name","", new { type="text", @class="form-control" })
                    </div>
                    <div class="mb-3">
                        @Html.Label("Project", "Project", new { @class= "form-label" })
                        <select name="projectId" class="form-control">
                            <option value="" disabled selected>Select your option</option>
                            @foreach (var project in projectModel)
                            {
                                <option value="@project.Id">@project.ProjectName</option>
                            }
                        </select>
                    </div>
@*                    <div class="mb-3">
                        @Html.Label("StartTime", "Start time", new { @class= "form-label" })
                    </div>
                    <div class="mb-3">
                        @Html.Label("EndTime", "End time", new { @class= "form-label" })
                    </div>*@
                    <p>
                        <input class="btn btn-primary" type="submit" value="@ViewData["CreateButton"]" />
                    </p>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_Project" />

    <script type="text/javascript">
        var app = new Vue({
            el: '#app'
        })
    </script>
}
